SERVICE_NAME=control-panel

# Server Configuration
HTTP_PORT=8080
SWAGGER_HOST=localhost
SWAGGER_SCHEME=https
SWAGGER_DOC_JSON=/control/api/v1/docs/doc.json
HTTP_POST_BODY_LIMIT=4096
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=20s
HTTP_RATE_LIMIT_MAX_REQUEST=50000
HTTP_RATE_LIMIT_EXPIRATION_DURATION=1m
HTTP_SHUTDOWN_TIMEOUT=30s

# Kafka Configuration
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_PROVISIONING_TOPIC=provisioning
KAFKA_DIALER_TIMEOUT=10s
KAFKA_MAX_BYTES=10485760
KAFKA_CONSUMER_GROUP=factorial-consumer-group
KAFKA_BATCH_TIMEOUT=5ms
KAFKA_BATCH_SIZE=1000
KAFKA_BATCH_BYTES=1000000

# Postgres Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=control_panel_service
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_OPEN_CONNECTIONS=100
POSTGRES_MAX_IDLE_CONNECTIONS=10
POSTGRES_CONN_MAX_LIFETIME=1h
POSTGRES_CONN_MAX_IDLE_TIME=30m

# Kubernetes Configuration
KUBERNETES_NAMESPACE=challenge
MOTHER_SERVICE_IMAGE=challenge-mother-service:latest
MOTHER_SERVICE_APP_SERVE=mother-service-serve
MOTHER_SERVICE_APP_SERVE_WAIT_READY=10s
MOTHER_SERVICE_APP_JOBS=mother-service-jobs
MOTHER_SERVICE_APP_JOBS_WAIT_READY=10s
MOTHER_SERVICE_KAFKA_DATABASE_TOPIC=mother-db
MOTHER_SERVICE_KAFKA_CONSUMER_GROUP=mother-db-consumer-group
MOTHER_SERVICE_KAFKA_LIVE_FEED_TOPIC=mother-live-feed
MOTHER_SERVICE_KAFKA_HOST=kafka  
MOTHER_SERVICE_POSTGRES_HOST=postgres 
TEST_SERVICE_IMAGE=challenge-test-service:latest
TEST_SERVICE_APP_SERVE=test-service-serve
TEST_SERVICE_APP_SERVE_WAIT_READY=10s
TEST_SERVICE_APP_JOBS=test-service-jobs
TEST_SERVICE_APP_JOBS_WAIT_READY=10s
TEST_SERVICE_POSTGRES_HOST=localhost  
TEST_SERVICE_KAFKA_HOST=localhost
TEST_SERVICE_KAFKA_DATABASE_TOPIC=test-db
TEST_SERVICE_KAFKA_CONSUMER_GROUP=test-db-consumer-group
TEST_SERVICE_KAFKA_LIVE_FEED_TOPIC=test-live-feed 

# Otel Collector
OTLP_GRPC_PORT=4712
OTLP_GRPC_HOST=localhost

# logger 
LOG_LEVEL=info
LOG_FORMAT=json
LOG_OUTPUT=stdout