# Server Configuration
HTTP_PORT=8080
HTTP_POST_BODY_LIMIT=4096
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=20s
HTTP_RATE_LIMIT_MAX_REQUEST=50000
HTTP_RATE_LIMIT_EXPIRATION_DURATION=1m
HTTP_SHUTDOWN_TIMEOUT=30s

# Kafka Configuration
KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_PROVISIONING_TOPIC=provisioning
KAFKA_DIALER_TIMEOUT=10s
KAFKA_MAX_BYTES=10485760
KAFKA_CONSUMER_GROUP=factorial-consumer-group
KAFKA_BATCH_TIMEOUT=5ms
KAFKA_BATCH_SIZE=1000
KAFKA_BATCH_BYTES=1000000
# Postgres Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=control_panel_service
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_OPEN_CONNECTIONS=100
POSTGRES_MAX_IDLE_CONNECTIONS=10
POSTGRES_CONN_MAX_LIFETIME=1h
POSTGRES_CONN_MAX_IDLE_TIME=30m

